# Environnements virtuels
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
/media/
/telechargements/
/staticfiles/

# Secrets locaux
.env

# Éditeurs / système
.vscode/
.idea/
.DS_Store
Thumbs.db
